<!doctype html>
<html class=no-js lang=es-419 dir=ltr>
<head>
<meta charset=utf-8>
<meta http-equiv=x-ua-compatible content="ie=edge">
<meta name=viewport content="width=device-width, initial-scale=1.0">
<title>Clases de Guitarra | Brain Sessions</title>
<meta name=description content="🎸 Aprender a tocar guitarra con clases de guitarra personalizadas, horarios flexibles y a tu propio ritmo. ¡Empieza Ahora!">
<meta name="google-site-verification" content="QUkcWldO4DZIlb0kHBRJ2a4hiG9VftObGP_Gxls1wcU" />
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css>
<link rel=stylesheet href="css/app.min.css?v=1.7">
<link rel=canonical href=https://clasesdeguitarra.co />
<link rel="shortcut icon" href="img/favicon.png"/>
</head>
<body>
<div class=off-canvas-wrapper>
<div class=off-canvas-wrapper-inner data-off-canvas-wrapper>
<div class=off-canvas-content data-off-canvas-content>
<main id=main-content>
<header id=menu-content class=container>
<div class="callout row">
<div class="large-3 medium-3 small-8 columns">
<h2><img src=img/brainsessions-logo.svg alt="logo Brain Sessions Clases De Guitarra"></h2>
</div>
<nav data-magellan>
<ul class="menu align-right">

<li><a href=# data-toggle=offCanvas class=small-menu><i class=fi-align-left></i>MENÚ</a></li>
</nav>
</div>
</header>
<article id=copy class=container>
<div class=row>
<h1 class="large-6 medium-6 small-12 columns">Clases de guitarra con maestros de primera.</h1>
</div>
<div class=row>
<h2 class="large-6 medium-6 small-12 columns">Saca todo el provecho a tu guitarra y diviértete aprendiendo a tocar a tu propio ritmo con maestros de primer nivel.</h2>
</div>
<div class=row>
<a data-open=Modal class="button b-main large-3 medium-4 small-12 columns">Quiero empezar ahora</a>
</div>
</article>
</main>
<section id=howto-content>
<div class="bg-guitar wow fadeInRight" data-wow-delay=0.4s></div>
<div class="container row">
<article class="medium-5 small-12 columns wow fadeInLeft data-wow-delay="0.4s"">
<h2>Clases de guitarra con</h2>
<h3>Maestros de primera</h3>
<p>Cuenta con la seguridad de tomar lecciones con maestros profesionales que te harán tocar como tú quieras.</p>
<h3>Lecciones a domicilio</h3>
<p>Disfruta de tus clases en el lugar que quieras. Tú eliges donde y nosotros estaremos ahí.</p>
<h3>Horarios flexibles</h3>
<p>No importa si tienes una agenda difícil o no, nos ajustamos a tu horario para que puedas tomar tus clases cómodamente.</p>
<a data-open=Modal class="button b-black">Agendar mi primera clase</a>
</article>
</div>
<div class="icon-brainsessionshq wow fadeIn data-wow-delay="0.4s""></div>
</section>
<section id=stories-content>
<a href="https://www.youtube.com/watch?v=isEnN7Kc0I4" class="video-testimonial wow fadeInLeft"data-lity></a>
<div class="container wow fadeInRight">
<div class=row>
<div class="medium-offset-6 medium-6 columns">

    <div itemscope itemtype="http://schema.org/Product">
        <h2 itemprop="name">Opiniones sobre las clases</h2>
        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
          <h4 class="medium-4 small-4 columns"><b itemprop="ratingValue">5</b><br><br><span>Satisfacción de clase</span>
            <ul class=stars>
            <li><i class=fi-star></i></li>
            <li><i class=fi-star></i></li>
            <li><i class=fi-star></i></li>
            <li><i class=fi-star></i></li>
            <li><i class=fi-star></i></li>
            </ul>
            </h4>
          <h4 class="medium-4 small-4 columns"><b itemprop="ratingCount">325</b><br><br><br><span>alumnos activos</span></h4>
          <h4 class="medium-4 small-4 columns">93% <br><br><span>han renovado su suscripción</span></h4>
        </div>
    </div>


<div id=testimonial>
<ul class=bxslider>
<li class=testimoniales>
<div class=row>
<div class="medium-3 small-4 columns">
<img src=img/avatar-oscar-barreto.png alt="Oscar Barreto Clases De Guitarra Review">
</div>
<div class="medium-9 small-8 columns testimoniales-textos">
<span class=comillas>“</span>
<p>Me sirvió para conseguir una ejecución más limpia y enfocada totalmente en la práctica, ¡más allá de la teoría!” <br/><br/> <small>Oscar Barreto</small></p>
</div>
</div>
</li>
<li class=testimoniales>
<div class=row>
<div class="medium-3 small-4 columns">
<img src=img/paula-cho-florencia-park.png alt="Paula Cho Florencia Park">
</div>
<div class="medium-9 small-8 columns testimoniales-textos">
<span class=comillas>“</span>
<p>A mí que tanto le fastidia la academia por fin pude entender sin lineamentos ni recortes la exploración y el deleite de este bellísimo instrumento." <br/><br/> <small>Paula Cho</small></p>
</div>
</div>
</li>
</ul>
</div>

</div>
</div>
</div>
</section>
<section id=benefits-content>
<div class="bg-guitar wow fadeInRight"></div>
<div class="container row">
<article class="medium-5 columns wow fadeInLeft">
<h2>Aprende guitarra con</h2>
<h3>Video respuestas</h3>
<p>¿Olvidaste un ejercicio que viste en clase? No hay problema. Tu maestro te enviara una video respuesta para que puedas avanzar en tu progreso semanal.</p>
<h3>Metodología abierta</h3>
<p>Preparamos un temario personalizado de acuerdo con tus intereses, gustos musicales y objetivos con la guitarra, para que aprendas con la música que te gusta y no con la que te toca.</p>
<a data-open=Modal class="button b-black small-12 columns">Quiero empezar ahora</a>
</article>
</div>
<div class="icon-brainsessionsamp wow fadeIn"></div>
</section>
<section id=prices-content>
<div class="container row">
<h2 class=text-center>Compara nuestros planes</h2>
<div class=row data-equalizer data-equalize-on=small>
<div class="column small-12 medium-4">
<ul class="pricing-table no-bullet text-center wow fadeInLeft">
<li></li>
<li class=title>Regular</li>
<li class=price>$180.000</li>
<li class=month>Pesos al mes</li>
<li class=lessons> 4 Clases de guitarra</li>
<li> Lecciones a domicilio</li>
<li> 2 Video respuestas</li>
<li><a class=button href=http://clasesdeguitarra.co/pagos/basico.html>Quiero este plan</a></li>
</ul>
</div>
<div class="column small-12 medium-4">
<ul class="pricing-table no-bullet text-center pricing-star wow fadeIn">
<li class=title>Pro</li>
<li class=price>$320.000</li>
<li class=month>Pesos al mes</li>
<li class=lessons> 8 Clases de guitarra</li>
<li> Lecciones a domicilio</li>
<li> 6 Video respuestas</li>
<li> Material de estudio</li>
<li><a class="button animated pulse infinite" href=http://clasesdeguitarra.co/pagos/pro.html>Quiero este plan</a></li>
</ul>
</div>
<div class="column small-12 medium-4">
<ul class="pricing-table no-bullet text-center wow fadeInRight">
<li></li>
<li class=title>Curso Básico</li>
<li class=price>$630.000</li>
<li class=month>Pesos por 4 meses</li>
<li class=lessons> 16 Clases de guitarra</li>
<li> Lecciones a domicilio</li>
<li> 8 Video respuestas</li>
<li> Material de estudio</li>
<li><a class="button buy" href=http://clasesdeguitarra.co/pagos/premium.html>Quiero este plan</a></li>
</ul>
</div>
</div>
<p class="text-center wow fadeIn">
*Brain Sessions no cobra intereses, tu banco puede aplicar tarifas adicionales. <br>
*Las video respuestas no son acumulables. <br>
**Cualquier plan hará los cobros automáticos cada mes.
</p>
</div>
</section>
<section id=faqs-content>
<div class="container row">
<h2 class="text-center wow fadeIn">¿Tienes preguntas?</h2>
<ul class="vertical menu wow fadeIn" data-accordion-menu>
<li>
<a href=#><h4>¿Qué significa clases de guitarra personalizadas?</h4></a>
<ul class="menu vertical nested">
<p>Solo nos centramos en ti! desde la comodidad del lugar que escojas para tus clases de guitarra, tendrás un maestro disponible para ti de acuerdo a tu perfil y música que quieras aprender.</p>
</ul>
</li>
<li><a href=#><h4>¿Cuáles son nuestros horarios de clases?</h4></a>
<ul class="menu vertical nested">
<p>De Lunes a Viernes puedes contar con clases desde las 8:00 am hasta 7:00 pm terminando la clase a las 8:00 pm en modalidad presencial. En modalidad virtual puedes agendar tus clases desde las 8:00 am hasta 9:00 pm.</p>
<p>Los sábados también puedes tomar tus clases en cualquier horario entre las 8:00 am y las 6:00 pm y los domingos desde 8:00 am hasta las 12:00m. Estos horarios aplican tanto a clases presenciales como a clases online.</p>
</ul>
</li>
<li><a href=#><h4>¿En cuanto tiempo puedo aprender a tocar guitarra?</h4></a>
<ul class="menu vertical nested">
<p>Clases de guitarra ofrece un curso básico de cuatro meses de duración. Al finalizar el curso podrás tocar los acordes y punteos de tus canciones favoritas y además tendrás la posibilidad de continuar tu proceso en nuestros cursos de nivel intermedio y avanzado donde abordarás canciones con mayor complejidad y aprenderás algunos conceptos musicales según tus gustos e intereses. Desde el primer mes notarás tus avances.</p>
</ul>
</li>
<li><a href=#><h4>¿Es indispensable contar con una guitarra?</h4></a>
<ul class="menu vertical nested">
<p>Para un mayor avance es necesario que el estudiante cuente con un instrumento propio. En caso de que este no lo tenga se cobrará un recargo adicional por el préstamo de una guitarra en el momento de la clase. Si aún no la has adquirido y quieres comprarla te asesoramos GRATUITAMENTE por la compra de cualquiera de nuestros packs ofertados.</p>
</ul>
</li>
<li><a href=#><h4>¿Qué medios de pago tiene disponibles?</h4></a>
<ul class="menu vertical nested">
<p>Contamos con pagos vía tarjeta de credito, efectivo y tarjeta debito a través de PayU</p>
</ul>
</li>
</ul>
</div>
<div class="row container">
<a data-open=Modal class="button b-main text-center">Agendar mi primera clase</a>
</div>
</section>
<footer>
<div class="container row">
<aside class="medium-3 column">
<h5>Compañía</h5>
<ul>
<li><a href=/blog>Blog de Clases de guitarra</a></li>
</ul>
</aside>
<aside class="medium-3 column">
<h5>Social Media</h5>
<ul>
<li><a href=https://www.youtube.com/brainsessions>Youtube Clases de guitarra</a></li>
<li><a href=https://www.facebook.com/brainsessions>Facebook Clases de guitarra</a></li>
<li><a href=https://twitter.com/brainsessions>Twitter Clases de guitarra</a></li>
<li><a href=https://www.instagram.com/brainsessions.co/>Instagram Clases de guitarra</a></li>
<li><a href=http://m.me/brainsessions rel=nofollow>Messenger Clases de guitarra</a></li>
</ul>
</aside>
<aside class="medium-3 column">
<h5>Comunidad</h5>
<ul>
<li><a href=https://www.facebook.com/groups/160412090749010>Venta de instrumentos</a></li>
</ul>
</aside>
<aside class="medium-3 column">
<h5>Contacto</h5>
<ul>
<li><a href=tel:+573197954046>Tel: 319 795 4046</a></li>
<li><a href=mailto:hola@clasesdeguitarra.co>hola@clasesdeguitarra.co</a></li>
</ul>
</aside>
</div>
<script type=text/javascript>var google_conversion_id=946524072;var google_custom_params=window.google_tag_params;var google_remarketing_only=true;</script>
<script type=text/javascript src=http://www.googleadservices.com/pagead/conversion.js></script>
<noscript>
<div style=display:inline>
<img height=1 width=1 style=border-style:none alt src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/946524072/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<div class="row container">
<img src=img/brain-sessions-white.svg alt="Brain Sessions Clases De Guitarra" class=brand-center>
</div>
<p class="text-center copyright">© Brain Session 2018 | <a href=terminos rel=nofollow>Términos de servicio</a> | <a href=http://clasesdeguitarra.co/politicas.html rel=nofollow>Politica de privacidad</a> | <a href=# rel=nofollow>Ayuda</a></p>
</div>
</footer>
</div>
<a data-open=Modal class="button b-black show-for-small-only stick">Empieza Ahora</a>
<sidebar id=offCanvas class="off-canvas position-left" data-off-canvas>
<nav data-magellan>
<ul class="vertical menu">
<h3><i class=fi-align-left></i>Menú</h3>
<li><a href=#howto-content><i class=fi-rewind></i>Quienes somos</a></li>
<li><a href=#howto-content><i class=fi-play></i>Acerca de las clases</a></li>
<li><a href=#stories-content><i class=fi-fast-forward></i>Nuestro alumnos</a></li>
<li><a href=#prices-content><i class=fi-pause></i>Precios</a></li>
<li><a href=/blog><i class=fi-record></i>Blog</a></li>
<li class="whatsapp"><a href="https://api.whatsapp.com/send?phone=573197954046" class="button btn-verde"><img src="img/whatsapp-logo.svg" alt="">319 795 4046</a></li>
</ul>

</nav>
</sidebar>
</div>
</div>
<div class=reveal id=Modal data-reveal>
<a data-close aria-label="Close modal"><i class=fi-x-circle></i></a>
<div class="row container">
<img src=img/brain-sessions-white.svg alt="Brain Sessions Clases De Guitarra" class=brand-center>
<h2 class=text-center>Clases de guitarra y maestros de primer nivel estan esperando por ti.</h2>
<div id="formulario-de-prospeccion-a9e70258f9b6ef48fbcf"></div>
<script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js"></script>
<script type="text/javascript">
  new RDStationForms('formulario-de-prospeccion-a9e70258f9b6ef48fbcf-html', 'UA-30234242-1').createForm();
</script>

<p class="conditions text-center">Al enviar tu información de contacto, autorizas a Brain Session a ponerse en contacto contigo y ofrecerte más información. Además aceptas los <a href=terminos rel=nofollow>términos de servicio</a> y <a href=http://clasesdeguitarra.co/politicas.html rel=nofollow>politicas de privacidad</a>.</p>
</div>
</div>
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css>
<link rel=stylesheet href=icons/foundation-icons.css>


<script defer src=https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js></script>
<script defer src=js/jquery.bxslider.min.js></script>
<script defer src=js/vendor/foundation.min.js></script>
<script defer src=js/lity.min.js></script>
<script defer src=js/wow.min.js></script>
<script defer src=js/app.js></script>



<!-- RD Station End -->
<script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js"></script>



<!-- RD Station -->
<script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/e0b18828-83fe-49a9-bbbc-a3d7dde64428-loader.js" ></script>
<!-- RD Station END -->


<!-- Código de instalación CLIENGO para clasesdeguitarra.co -->
<script>(function(){var ldk=document.createElement('script'); ldk.type='text/javascript'; ldk.async=true; ldk.src='https://s.cliengo.com/weboptimizer/59b31e23e4b065e887376e3f/59b31e29e4b065e887376e4b.js' ; var s=document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ldk, s);})();</script>


<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/585322.js"></script>
<!-- End of HubSpot Embed Code -->

<script>!function(h,a,i,c,j,d,g){if(h.fbq){return}j=h.fbq=function(){j.callMethod?j.callMethod.apply(j,arguments):j.queue.push(arguments)};if(!h._fbq){h._fbq=j}j.push=j;j.loaded=!0;j.version="2.0";j.queue=[];d=a.createElement(i);d.async=!0;d.src=c;g=a.getElementsByTagName(i)[0];g.parentNode.insertBefore(d,g)}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","1876843142550203");fbq("track","PageView");</script>
<noscript><img height=1 width=1 style=display:none src="https://www.facebook.com/tr?id=1876843142550203&ev=PageView&noscript=1" /></noscript>
<script>(function(d,e,j,h,f,c,b){d.GoogleAnalyticsObject=f;d[f]=d[f]||function(){(d[f].q=d[f].q||[]).push(arguments)},d[f].l=1*new Date();c=e.createElement(j),b=e.getElementsByTagName(j)[0];c.async=1;c.src=h;b.parentNode.insertBefore(c,b)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-30234242-1","clasesdeguitarra.co");ga("require","displayfeatures");ga("send","pageview");setTimeout("_gaq.push(['_trackEvent', 'NoBounce', 'Over 30 seconds'])",30000);</script>
<script>var om582741e4dab72,om582741e4dab72_poll=function(){var a=0;return function(c,b){clearInterval(a),a=setInterval(c,b)}}();!function(b,a,g){if(b.getElementById(g)){om582741e4dab72_poll(function(){if(window.om_loaded){if(!om582741e4dab72){om582741e4dab72=new OptinMonsterApp();return om582741e4dab72.init({s:"25101.582741e4dab72",staging:0,dev:0,beta:1})}}},25);return}var f=false,c=b.createElement(a);c.id=g,c.src="//a.optnmstr.com/beta/js/api.js",c.async=true,c.onload=c.onreadystatechange=function(){if(!f){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{f=om_loaded=true;om582741e4dab72=new OptinMonsterApp();om582741e4dab72.init({s:"25101.582741e4dab72",staging:0,dev:0,beta:1});c.onload=c.onreadystatechange=null}catch(d){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(c)}(document,"script","omapi-script");</script>
<script type=text/javascript id=hs-script-loader async defer src=//js.hs-scripts.com/585322.js></script>
</body>
</html>
